$primary-color: #47A1F6; // 主要颜色
$error-color: #FF4E00; // 错误色
$success-color: #00C08D; // 成功色
$warning-color: #FFAF4D; // 警告色
$link-color: #9EC8E3; // 链接色
$text-color: #39414B; //主要文本色
$border-color-base: #EBEEF5; // 边框色
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
$layer-color: rgba(0, 0, 0,0.3);
$light: #FFFFFF;

$colorMap: (
  primary: #47A1F6, // 主要颜色
  error: #FF4E00, // 错误色
  success: #00C08D, // 成功色
  warning: #FFAF4D, // 警告色
  link: #9EC8E3, // 链接色
  text: #39414B, //主要文本色
  light: $light // 白色
)
