@import './colors.scss';
@import './mixins.scss';
body {
  margin: 0;
  padding: 0;
}

@each $key, $val in $colorMap {
  .g-bg-#{$key}{
    background-color: #{$val};
  }
}

@each $key, $val in $colorMap {
  .g-color-#{$key}{
    color: #{$val};
  }
}