@mixin position($position: absolute, $top: initial, $left: initial, $bottom: initial, $right: initial) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin flex($justify: center, $align: center, $direction: initial) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin margin($top: 0, $left: 0, $bottom: 0, $right: 0) {
  margin: $top $left $bottom $right;
}

@mixin padding($top: 0, $left: 0, $bottom: 0, $right: 0) {
  padding: $top $left $bottom $right;
}