
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);
// DONE 拆分等分，生成响应式类
$fr: 24;
@for $share from 1 through $fr {
  // 分块
  .g-span-#{ $share } {
    width: ($share / $fr) * 100%;
  }
  // 偏移
  .g-offset-#{ $share } {
    margin-left: ($share / $fr) * 100%;
  }
}

// @wnag 生成scss样式，参考【element scss 实现方案】

@function createPixel($screen) {
  
}

@each $key, $val in $breakpoints {
  @media screen {
    
  }
};
